.layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 40px;
  padding: 140px 60px 60px; /* navbar space */
  background: #f6f7f9;
  align-items: start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  align-content: start; /* cards upar se start */
  min-height: 100%; /* full height le */
}

/* Hide mobile filter bar on desktop */
.mobile-filter-bar {
  display: none;
}

@media (max-width: 768px) {
  .filters-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 85vh;
    background: #fff;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.15);
    transform: translateY(100%);
    transition: transform 0.35s ease;
    z-index: 1001;
    overflow-y: auto;
    padding: 40px 20px;
  }

  .filters-wrapper.active {
    transform: translateY(0);
  }

  .filters-wrapper::before {
    content: "";
    width: 60px;
    height: 5px;
    background: #ccc;
    border-radius: 10px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
}
