/* Sidebar layout */
/* .filters {
  width: 270px;
  padding: 30px 25px;

  position: sticky;
  top: 120px; 
  height: calc(100vh - 120px);

  overflow-y: auto;  
  align-self: start;

  border-right: 1px solid #eee;
} */

.filter-list,
.color-row {
  flex-shrink: 0;
}

.filters::-webkit-scrollbar {
  width: 6px;
}

.filters::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  border-radius: 10px;
}

/* Section titles */
.filter-title {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 35px 0 15px;
  color: #222;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 8px;
}

/* Category list */
.filter-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.filter-list button {
  background: none;
  border: none;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  color: #444;
  padding: 4px 0;
  transition: 0.2s;
}

.filter-list button:hover {
  color: #2e7d32;
  transform: translateX(6px);
}

/* COLOR ROW */
.color-row {
  display: flex;
  gap: 14px;
  margin-top: 15px;
  flex-wrap: wrap;
}

/* color dots */
.color {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #eee;
  transition: 0.25s;
}

.color:hover {
  transform: scale(1.15);
  border: 2px solid #222;
}

/* Actual colors */
.white {
  background: #fff;
  border: 2px solid #ccc;
}
.green {
  background: #2e7d32;
}
.pink {
  background: #f48fb1;
}
.brown {
  background: #6d4c41;
}
.red {
  background: #c62828;
}
.mint {
  background: #80cbc4;
}

/* =========================
   IPAD (Tablet)
========================= */
@media (max-width: 1024px) {
  .filters {
    width: 220px;
    padding: 25px 18px;
    top: 110px;
  }
}

@media (max-width: 768px) {
  /* Hide sidebar default */
  .filters {
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 85vh;
    background: #ffffff;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.15);
    transition: bottom 0.35s ease;
    z-index: 1001;
    padding: 40px 20px 40px;
    overflow-y: auto;
  }

  /* Drag close area */
  .filters::before {
    content: "";
    width: 60px;
    height: 5px;
    background: #ccc;
    border-radius: 10px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  /* Overlay background */
  .filter-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    z-index: 1000;
  }
}
